<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net48" />
  <package id="Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.2.0" targetFramework="net48" />
  <package id="MsgReader" version="4.2.3" targetFramework="net48" />
  <package id="OpenMcdf" version="2.2.1.9" targetFramework="net48" />
  <package id="RtfPipe" version="2.0.7677.4303" targetFramework="net48" />
  <package id="SharpCompress" version="0.30.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
</packages>