<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.0.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.12.3" targetFramework="net46" />
  <package id="Fody" version="3.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="SharpCompress" version="0.28.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Packaging" version="5.0.0" targetFramework="net46" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
</packages>